<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>

  <!-- General -->
  <category>
    <setting id="filehoster" type="enum" label="30300" lvalues="30301|30302|30303" default="0" />
    <setting id="alt_filehoster" type="enum" label="30304" lvalues="30305|30301|30302|30303" default="0" />
    <setting type="sep" />
    <setting id="perpage" type="enum" label="30306" values="10|20|30|40|50" default="2" />
  </category>

  <!-- Folders -->
  <category label="30350">
    <setting id="all" type="bool" label="30317" default="false" />
    <setting id="tvshows" type="bool" label="30310" default="false" />
    <setting id="movies" type="bool" label="30311" default="false" />
    <setting id="music" type="bool" label="30312" default="false" />
    <setting id="games" type="bool" label="30313" default="false" />
    <setting id="ebooks" type="bool" label="30314" default="false" />
    <setting id="apps" type="bool" label="30315" default="false" />
    <setting id="misc" type="bool" label="30316" default="false" />
    <setting type="sep" />
    <setting id="subcat" type="bool" label="30318" default="false" />
  </category>

  <!-- Advanced -->
  <category label="30351">
    <setting id="notification_length" type="enum" label="30320" values="5|10|15|20|25|30" default="1" />
    <setting id="video_view" type="bool" label="30321" default="true" />
    <setting id="debug" type="bool" label="30322" default="false" />
  </category>

</settings>
