<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>

  <!-- General -->
  <category>
    <setting id="filehoster" type="enum" label="30310" lvalues="30361|30362|30363|30364|30365" entries="1|2|3|4|5" default="1" />
    <!-- Alternative Filehoster -->
    <setting id="filehoster_alt1" type="enum" label="30311" lvalues="30360|30361|30362|30363|30364|30365" entries="0|1|2|3|4|5" default="0" />
    <setting id="filehoster_alt2" type="enum" label="30312" lvalues="30360|30361|30362|30363|30364|30365" entries="0|1|2|3|4|5" default="0" />
    <setting type="sep" />
    <setting id="perpage" type="enum" label="30315" values="1|2|3|4|5" default="4" />
    <setting label="30320" type="lsep" />
    <setting id="prefer_hd" type="bool" label="30321" default="true" />
  </category>

  <!-- Folders -->
  <category label="30301">
    <setting id="all" type="bool" label="30330" default="false" />
    <setting id="tvshows" type="bool" label="30331" default="false" />
    <setting id="movies" type="bool" label="30332" default="false" />
    <setting id="music" type="bool" label="30333" default="false" />
    <setting id="games" type="bool" label="30334" default="false" />
    <setting id="ebooks" type="bool" label="30335" default="false" />
    <setting id="apps" type="bool" label="30336" default="false" />
    <setting id="misc" type="bool" label="30337" default="false" />
    <setting type="sep" />
    <setting id="subcat" type="bool" label="30339" default="false" />
  </category>

  <!-- Advanced -->
  <category label="30302">
    <setting id="notification_length" type="enum" label="30350" values="5|10|15|20|25|30" default="0" />
    <setting id="video_view" type="bool" label="30351" default="true" />
    <setting id="debug" type="bool" label="30352" default="false" />
  </category>

</settings>
